# Dependências do Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build de produção
dist/
build/

# Configuração local de ambiente
.env
.env.local
.env.*.local

# Cache e arquivos temporários
.vite/
*.cache
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.log

# Configurações específicas de sistema operacional
*.sublime-workspace
*.sublime-project
